---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
---


<section class="vf-intro | embl-grid embl-grid--has-centered-content">
  <div>
    <!-- empty -->
  </div>
  <div>
    <h1 class="vf-intro__heading vf-intro__heading--has-tag">Research <a href="JavaScript:Void(0);"
        class="vf-badge vf-badge--primary vf-badge--phases">beta</a></h1>
    <p class="vf-lede">From genomes to ecosystems, EMBL is studying the mysteries of life</p>
    <p class="vf-intro__text">At EMBL, researchers are discovering the secrets of life.</p>
    <p class="vf-intro__text">From genomics to planetary biology, EMBL’s diverse research programme caters for a wide range of research questions.</p>
    <p class="vf-intro__text">The best scientific talent from around the world, collaborating to generate key insights into the inner workings of biological systems.</p>
  </div>
</section>
<hr class="vf-divider">
<section class="vf-grid | vf-content | vf-u-margin__bottom--xxl">
<div>
<h3>Learn more about EMBL research </h3>
</div>
<div>
<a href="#" class="vf-link"><h3>EMBL Research Programme</h3></a>
<p>Find out which topics of research EMBL will focus on for the next five years</p>
</div>
<div>
<a href="#" class="vf-link"><h3>EMBL Technologies</h3></a>
<p>State-of-the-art technologies support research into a range of biological topics </p>
</div>
<div>
<a href="#" class="vf-link"><h3>A history of EMBL research</h3></a>
<p>How EMBL’s research programme has evolved over the years</p>
</div>

</section>
<hr class="vf-divider">
<h1 class="vf-text vf-text-heading--3">Research topics </h1>

<style>
.vf-card {
  grid-template-rows: 216px repeat(2, 36px);
}
</style>

<section class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--xxl | vf-u-margin__top--xxl">
  <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Cell biology and biophysics
      </h3>
    </div>
  </div>
  <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Developmental biology
      </h3>
    </div>
  </div>
 <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Directors' research
      </h3>
    </div>
  </div>
</section>
<section class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--xxl | vf-u-margin__top--xxl">
 
  <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Genome biology
      </h3>
    </div>
  </div>
  <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Structural and computational biology
      </h3>
    </div>
  </div>
  <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Interdisciplinary research
      </h3>
    </div>
  </div>
</section>
<section class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--xxl | vf-u-margin__top--xxl">
  <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Bioinformatics
      </h3>
    </div>
  </div>
  <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Chemistry
      </h3>
    </div>
  </div>
    <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Physics and engineering
      </h3>
    </div>
  </div>
</section>
<section class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--xxl | vf-u-margin__top--xxl">
  <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Mathematics and statistics
      </h3>
    </div>
  </div>
  <div class="vf-card vf-card--topic">
    <img src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
      <h3 class="vf-card__title">
        Interdisciplinary centres
      </h3>
    </div>
  </div>
</section>
<hr class="vf-divider">
<section class="embl-grid">
  <div>
    <h1 class="vf-text vf-text-heading--3">Upcoming seminars</h1>
  </div>
  <div>
  <div class="vf-grid vf-grid__col-3">
  <div class="vf-box vf-box--inlay">
    <h3 class="vf-box__heading">Convergent cell fate specification and pattern evolution in the vertebrate skeleton</h3>
    <p class="vf-box__text">16th February 2018</p>
        <p class="vf-box__text"></p>
</div>
<div class="vf-box vf-box--inlay">
    <h3 class="vf-box__heading">Molecular mechanisms and evolution of animal-algal symbiosis</h3>
    <p class="vf-box__text">16th February 2018</p>
</div>
<div class="vf-box vf-box--inlay">
    <h3 class="vf-box__heading">Chromatin topology in development and transcriptional regulation</h3>
    <p class="vf-box__text">16th February 2018</p>
</div>
</div>
  </div>
</section>
<hr class="vf-divider">
<section class="embl-grid embl-grid--has-centered-content">
  <div>
    <h1 class="vf-text vf-text-heading--3">News</h1>
  </div>
  <div>
    <link rel="import"
      href="https://dev.content.embl.org/api/v1/pattern.html?filter-content-type=article&filter-field-value%5Bfield_article_type%5D=article_timely&filter-fields-exists=field_display_title%2Cfield_teaser%2Cfield_canonical_location&limit=5&pattern=vf-news-item-default&sort-field-value%5Bcreated%5D=DESC"
      data-target="self" data-embl-js-content-hub-loader>
    <a id="harsh" href="#" class="vf-link ">See all EMBL news</a>
  </div>
</section>
<hr class="vf-divider">
<section class="embl-grid embl-grid--has-centered-content">
  <div>
    <h1 class="vf-text vf-text-heading--3">Research jobs</h1>
  </div>
  <div>
    <link rel="import"
      href="https://dev.content.embl.org/api/v1/pattern.html?pattern=vf-jobs-snippet&filter-content-type=jobs&filter-field-contains[field_jobs_description]=Cancer&filter-field-date-after[field_jobs_expiration]=today&limit=3"
      data-target="self" data-embl-js-content-hub-loader>
  </div>
</section>
